body {
 font-family: Helvetica;
 text-align: center;
 color: #AED6F1;
 background-color: #2C3E50;
 padding: 0;
 margin: 0;
}
 
 nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid #666;
}

nav ul {
 display: flex;
 align-items: center;
 list-style: none;
}

ul li {
 margin-right: 160px;
}

ul li a {
 color: #AED6F1;
}

h1 {
 font-size: 32px;
 color: #F8F9F9;
}

p {
color: #F8F9F9;
}

img {
border: 3px solid #17202A;
}

footer {
 padding: 20px;
 border-top: 1px solid #666;
 margin-top: 20px;
 color: #FFAF33;
 }
